@import url("https://fonts.googleapis.com/css?family=Spartan&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #271033;
  /*background-image: url("123.jpg") ;*/
  /*background-size: 100%;*/
  width: 100vw;
  height: 100vh;
  /*display: grid;*/
  align-items: center;
  justify-items: center;
  font-size: 12pt;
  font-family: "Spartan";
  color: #2A293E;
}
h1 {
    text-shadow: 0 0 3px #FF0000;
  }
.contact-us {
  background: #f8f4e5;
  padding: 50px 100px 50px 100px;
  margin: 50px 100px 50px 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-top: 10px solid #FA8334;
}

label, input, textarea, select {
  display: block;
  width: 100%;
  font-size: 12pt;
  line-height: 24pt;
  font-family: "Spartan";
}
#inlineFormCustomSelect{
    display: block;
    width: 100%;
    font-size: 12pt;
    line-height: 24pt;
    font-family: "Spartan";}

input {
  margin-bottom: 24pt;
}

h3 {
  font-weight: normal;
  font-size: 10pt;
  line-height: 24pt;
  font-style: italic;
  margin: 0 0 0.5em 0;
}

span {
  font-size: 8pt;
}

em {
  color: #f45702;
  font-weight: bold;
}

input, textarea, select {
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background: #f8f4e5;
  padding-left: 5px;
  outline: none;
}

input:focus, textarea:focus, select:focus {
  border: 1px solid #6bd4b1;
}

textarea {
  resize: none;
}

button {
  display: block;
  float: center;
  line-height: 24pt;
  padding: 0 540px;
  border: none;
  background: #FA8334;
  color: white;
  letter-spacing: 2px;
  transition: 0.2s all ease-in-out;
  border-bottom: 2px solid transparent;
  outline: none;
}
button:hover {
  background: inherit;
  color: #271033;
  border-bottom: 2px solid #FA8334;
}

::selection {
  background: #ffc7b8;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  border: 1px solid #6bd4b1;
  -webkit-text-fill-color: #2A293E;
  -webkit-box-shadow: 0 0 0px 1000px #f8f4e5 inset;
  transition: background-color 5000s ease-in-out 0s;
}
#copyright
{
    overflow: hidden;
    padding: 5em 0em;
    border-top: 1px solid rgba(255,255,255,0.08);
    text-align: center;
}

#copyright p
{
    letter-spacing: 1px;
    font-size: 0.90em;
    color: rgba(255,255,255,0.6);
}
